# Environment variables
.env
.env.*
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# Laravel
backend/vendor/
backend/storage/*.key
backend/bootstrap/cache/*.php

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db